Export: <a class="btn" href="/diseasePortal/marker/report.txt?phenotypes=105830&amp;numDCol=100"><img src="http://www.informatics.jax.org/webshare/images/text.png" width="10" height="10">Text File</a> 


<table class="table table-bordered table-striped" st-table="displayedCollection" st-safe-src="vm.results.diseaseResults.summaryRows" ng-show="vm.results.diseaseResults.totalCount > 0">
	<thead>
		<tr>
			<th st-ratio="35" st-sort="disease">Disease</th>
			<th st-ratio="5" st-sort="diseaseId">OMIM ID</th>
			<th st-ratio="10">Mouse Models</th>
			<th st-ratio="30" st-sort="mouseMarkers">Associated Genes from Mouse Models</th>
			<th st-ratio="10" st-sort="humanMarkers">Associated Human Genes (<a href="" ng-click="openDiseaseSource();">Source</a>)</th>
			<th st-ratio="10">References using <br>Mouse Models</th>
		</tr>
	</thead>
	
	<tbody>
		<tr ng-repeat="row in displayedCollection">
			<td><div ng-bind-html="displayHTML(row.disease)"></div></td>
			<td>{{ row.diseaseId }}</td>
			<td><div ng-bind-html="displayHTML(row.diseaseModels)"></div></td>
			<td><div ng-bind-html="displayHTML(row.mouseMarkers)"></div></td>
			<td>{{ row.humanMarkers }}</td>
			<td><div ng-bind-html="displayHTML(row.refCount)"></div></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="6" class="text-center">
					<div st-items-by-page="10" st-pagination=""></div>
			</td>
		</tr>
	</tfoot>
</table>
Showing {{ vm.results.diseaseResults.summaryRows.length }} of {{ vm.results.diseaseResults.totalCount }} total records.
<script type="text/ng-template" id="DiseaseSource">
Disease associations for human genes are from the NCBI mim2gene_medgen file and include annotations from OMIM, NCBI curation, Gene Reviews, and Gene Tests.
</script>
