#title {
    border: thin solid black;
    min-width: 600px;
    max-width: 600px;
    background-color: #dfefff;
    padding: 4px;
    font-weight: bold;
    font-size: 125%;
}

#sgTitle {
    border: thin solid black;
    min-width: 600px;
    max-width: none;
    background-color: #dfefff;
    padding: 4px;
    font-weight: bold;
    font-size: 145%;
}

#legend {
    min-width: 600px;
    max-width: 600px;
    margin-top: 4px;
}

#hdpSystemPopupLegend td {
    border: thin solid black;
    padding: 3px;
    background-color: #dfefff;
}

span.highlight { background-color: #D6C6E8 }

td.bgsensitive {
    color: #FF4700;
    text-align: center;
    font-weight: bold;
}

#markerList {
  font-family: Verdana,Arial,Helvetica;
  font-size: 12px;
  padding-bottom:4px;
}

ul, ol {
  margin-bottom: 0;
}