/**
* COLORS
*/
.pageBackground {
  background-color: #ffffff;
}
.pageBackground2 {
  background-color: #f3f3f3;
}
.pageBackground3 {
  background-color: #dedede;
}
.pageBackground4 {
  background-color: #cdcdcd;
}
/**
* LAYOUT VARS
*/
/**
*  COMPONENT VARS
*/
.queryBuilder .query-row {
  margin-top: 15px;
  padding: 7.5px;
  background-color: #EFEFEF;
  border-radius: 4px;
  border: 1px solid;
}
