/**
* COLORS
*/
.pageBackground {
  background-color: #ffffff;
}
.pageBackground2 {
  background-color: #f3f3f3;
}
.pageBackground3 {
  background-color: #dedede;
}
.pageBackground4 {
  background-color: #cdcdcd;
}
/**
* LAYOUT VARS
*/
/**
*  COMPONENT VARS
*/
.searchView {
  background-color: rgba(208, 224, 240, 0.75);
  padding: 10px;
  border: 1px solid #759BC1;
}
.searchView .operator-prompt .operator-select {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.searchViewBox {
  padding: 10px;
  border: 1px solid #759BC1;
  margin-top: 30px;
}
.form-inline .form-control {
	width: 100%;
}
