/**
* COLORS
*/
.pageBackground {
  background-color: #ffffff;
}
.pageBackground2 {
  background-color: #f3f3f3;
}
.pageBackground3 {
  background-color: #dedede;
}
.pageBackground4 {
  background-color: #cdcdcd;
}
/**
* LAYOUT VARS
*/
/**
*  COMPONENT VARS
*/
.searchView {
  background-color: rgba(208, 224, 240, 0.75);
  padding: 10px;
  border: 1px solid #759BC1;
}
.searchView .operator-prompt .operator-select {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.searchViewBox {
  padding: 10px;
  border: 1px solid #759BC1;
  margin-top: 30px;
}
.form-inline .form-control {
	width: 100%;
}

.container-fluid {
	width: 97%;
}

.queryBuilder .row {
	min-height: 50px;
}

/** Taken from Lumen in order to get tabs to raise up */
.nav-tabs > li > a {
  margin-top: 6px;
  border-color: #e7e7e7;
  color: #333333;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus {
  padding-bottom: 16px;
  margin-top: 0;
}
.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus {
  border-color: #e7e7e7;
}
.nav-tabs > li.disabled > a:hover,
.nav-tabs > li.disabled > a:focus {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 6px;
}
.nav-tabs.nav-justified > li {
  vertical-align: bottom;
}


.sortable {
	cursor: pointer;
}
.sortable i:after {
	float: right;
	content: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);
	opacity: 0.63;
}
.st-sort-ascent i,
.st-sort-descent i {
	float: right;
}
.st-sort-ascent i:after {
	content: '\25B2';
	opacity: 1;
}
.st-sort-descent i:after {
	content: '\25BC';
	opacity: 1;
}
