<script>
function quote(s) {
    return s.replace(/"/g, '&quot;')
}
</script>
<div ng-controller="DiseaseController">
	<div ng-show="vm.filteredResults.length > 0">
        <form 
            action="{{HMDC_REPORT_URL}}"
            method="POST"
            >
        <textarea name="jsonEncodedInput" style="display:none;">{{jsonQuery}}</textarea>
	Export:
        <button class="download-button" type="submit"><img src="{{WEBSHARE_URL}}images/text.png" width="12" height="12">Text File</button>
        </form>
	</div>
	<div ng-hide="vm.filteredResults.length > 0">
		No Matching Diseases
	</div>

	<table id="diseaseTable" class="table table-bordered table-striped" st-reset="vm.resetDiseaseTable" st-table="displayedCollection" st-set-sort="sortFilter" st-safe-src="vm.filteredResults" ng-show="vm.filteredResults.length > 0">
		<thead>
			<tr>
				<th st-ratio="35" st-sort="term" st-skip-natural="true" st-sort-default="true" class="sortable">Disease <i st-sort="term"></i></th>
				<th st-ratio="5" st-sort="primaryId" st-skip-natural="true" class="sortable">DO ID <i st-sort="primaryId"></i></th>
				<th st-ratio="5" st-sort="omimIds" st-skip-natural="true" class="sortable">OMIM ID(s) <i st-sort="omimIds"></i></th>
				<th st-ratio="10" st-sort="diseaseModelCount" st-skip-natural="true" class="sortable">Mouse Models <i st-sort="diseaseModelCount"></i></th>
				<th st-ratio="30" st-sort="diseaseMouseMarkers" st-skip-natural="true" class="sortable">Associated Genes from Mouse Models <i st-sort="diseaseMouseMarkers"></i></th>
				<th st-ratio="10" st-sort="diseaseHumanMarkers" st-skip-natural="true" class="sortable">Associated Human Genes (<a href="" ng-click="openDiseaseSource();">Source</a>) <i st-sort="diseaseHumanMarkers"></i></th>
				<th st-ratio="10" st-sort="diseaseRefCount" st-skip-natural="true" class="sortable">References using <br>Mouse Models <i st-sort="diseaseRefCount"></i></th>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td><a target="_blank" href="{{FEWI_URL}}disease/{{ row.primaryId }}">{{ row.term }}</a></td>
				<td><a target="_blank" href="http://www.disease-ontology.org/?id={{row.primaryId}}">{{ row.primaryId }}</a></td>
				<td>
					<span ng-repeat="omimId in row.omimIds">
						<a ng-if="!omimId.replace('OMIM:', '').startsWith('PS')" target="_blank" href="https://omim.org/entry/{{omimId.replace('OMIM:', '')}}">{{omimId}}</a><a ng-if="omimId.replace('OMIM:', '').startsWith('PS')" target="_blank" href="https://omim.org/phenotypicSeries/{{omimId.replace('OMIM:', '')}}">{{omimId}}</a><span ng-if="!$last">, </span>
					</span>
				</td>
				<td><a ng-if="row.diseaseModelCount > 0" target="_blank" href="{{FEWI_URL}}disease/{{ row.primaryId }}?openTab=models">{{ row.diseaseModelCount }}</a></td>
				<td><div ng-bind-html="row.diseaseMouseMarkers | joinBy:', ' | handleSubscript "></div></td>
				<td><div ng-bind-html="row.diseaseHumanMarkers | joinBy:', ' | handleSubscript "></div></td>
				<td><a ng-if="row.diseaseRefCount > 0" target="_blank" href="{{FEWI_URL}}reference/disease/{{ row.primaryId }}?typeFilter=Literature">{{ row.diseaseRefCount }}</a></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6" class="text-center">
					<div st-items-by-page="250" st-pagination=""></div>
				</td>
			</tr>
		</tfoot>
	</table>

	<script type="text/ng-template" id="DiseaseSource">
                Disease associations for human genes are from the Alliance of Genome Resources Homo sapiens associations disease file and include annotations from OMIM, RGD, NCBI curation, Gene Reviews, and Gene Tests. Mouse genes are associated with human diseases through mouse genotypes described in publications.
	</script>
</div>
