<script>
function quote(s) {
    return s.replace(/"/g, '&quot;')
}
</script>
<div ng-controller="GeneController">
	<div ng-show="vm.filteredResults.length > 0">
        <form 
            action="{{HMDC_REPORT_URL}}"
            method="POST"
            >
        <textarea name="jsonEncodedInput" style="display:none;">{{jsonQuery}}</textarea>
	Export:
        <button class="download-button" type="submit"><img src="{{WEBSHARE_URL}}images/text.png" width="12" height="12">Text File</button>
        </form>
	</div>
	<div ng-hide="vm.filteredResults.length > 0">
		No Matching Genes
	</div>

	<table id="geneTable" class="table table-bordered table-striped" st-reset="vm.resetGeneTable" st-table="displayedCollection" st-set-sort="sortFilter" st-safe-src="vm.filteredResults" ng-show="vm.filteredResults.length > 0">
		<thead>
			<tr>
				<th st-sort="organism" st-skip-natural="true" class="sortable">Organism <i st-sort="organism"></i></th>
				<th st-sort="symbol" st-skip-natural="true" st-sort-default="true" class="sortable">Gene Symbol <i st-sort="symbol"></i></th>
				<th st-sort="location" st-skip-natural="true" class="sortable">Genetic Location <i st-sort="location"></i></th>
				<th st-sort="coordinate" st-skip-natural="true" class="sortable">Genome Coordinates <i st-sort="coordinate"></i></th>
				<th st-sort="disease" st-skip-natural="true" class="sortable">Associated Human Diseases (<a href="" ng-click="openGeneSource();">Source</a>) <i st-sort="disease"></i></th>
				<th st-sort="mouseSystem" st-skip-natural="true" class="sortable">Abnormal Mouse Phenotypes<br>Reported in these Systems <i st-sort="mouseSystem"></i></th>
				<th st-sort="allRefCount" st-skip-natural="true" class="sortable">References in MGI <i st-sort="allRefCount"></i></th>
				<th st-sort="imsrCount" st-skip-natural="true" class="sortable">Mice With Mutations<br>In this Gene (IMSR) <i st-sort="imsrCount"></i></th>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>{{ row.organism }}</td>
				<td><nobr>
                                        <a ng-if="row.organism == 'mouse'" target="_blank" href="{{FEWI_URL}}marker/{{ row.mgiId }}"><div ng-bind-html="row.symbol | handleSubscript "></div></a>
					<a ng-if="row.organism == 'human'" target="_blank" href="https://www.alliancegenome.org/gene/{{row.mgiId}}"><div ng-bind-html="row.symbol | handleSubscript "></div></a>
				</nobr></td>
				<td><nobr>{{ row.location }}</nobr></td>
				<td><nobr><div ng-bind-html="row.coordinate"></div></nobr></td>
				<td><ul>
						<li ng-repeat="name in row.disease">{{ name }}</li>
					</ul>
				</td>
				<td><div ng-bind-html="row.mouseSystem | joinBy:', '"></div></td>
				<td>
					<div ng-if="row.allRefCount > 0">
						<nobr>All Mouse: <a target="_blank" href="{{FEWI_URL}}reference/marker/{{ row.mgiId }}?typeFilter=Literature">{{ row.allRefCount }}</a></nobr>
					</div>
					<div ng-if="row.diseaseRefCount > 0">
						<nobr>Disease Relevant: <a target="_blank" href="{{FEWI_URL}}reference/diseaseRelevantMarker/{{ row.mgiId }}?typeFilter=Literature">{{ row.diseaseRefCount }}</a></nobr>
					</div>
				</td>
				<td><a ng-if="row.imsrCount > 0" target="_blank" href="http://www.findmice.org/summary?gaccid={{ row.mgiId }}"><div ng-bind-html="row.imsrCount"></div></a></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="8" class="text-center">
					<div st-items-by-page="250" st-pagination=""></div>
				</td>
			</tr>
		</tfoot>
	</table>

	<script type="text/ng-template" id="GeneSource">
                Disease associations for human genes are from the Alliance of Genome Resources Homo sapiens associations disease file and include annotations from OMIM, RGD, NCBI curation, Gene Reviews, and Gene Tests. Mouse genes are associated with human diseases through mouse genotypes described in publications.
	</script>
</div>
