.settings
MGIConfig_Build_Build_md5.checksum
ShareLib_Setup_UploadLibs_md5.checksum
fewi.war
build.properties
build/
/dist/
cruise-output/
mgiconfig
sharelib/
config/fewi.properties.tmp
src/org/jax/mgi/fewi/antlr/BooleanSearch/SolrBooleanSearch.tokens
src/org/jax/mgi/fewi/antlr/BooleanSearch/SolrBooleanSearchLexer.java
src/org/jax/mgi/fewi/antlr/BooleanSearch/SolrBooleanSearchParser.java
unittest-results/
www/WEB-INF/classes/
www/WEB-INF/jsp/templates/
www/WEB-INF/lib/fe.jar
www/WEB-INF/lib/fedatamodel.jar
www/WEB-INF/lib/snpdatamodel.jar
www/WEB-INF/properties/GlobalConfig.properties
www/WEB-INF/properties/fewi.properties
www/WEB-INF/web.xml
www/hmdc/assets/
*.tmp
*.swp
server.log
*~
