	<div ng-controller="GridController">
		<div ng-hide="vm.mustHideLegend" style="background-color:#F7F7F7; border:2px solid #AAA; width:860px; margin-bottom: 2px;">
			<div style="padding:5px 2px;">
				<table>
					<tr>
						<td><div style="font-weight:bold; padding-right: 15px;">Legend:</div></td>
						<td>The matrix includes all phenotypes/diseases associated with mouse models and human genes returned. <a href="#" ng-click="vm.mustHideLegend = !vm.mustHideLegend">show less</a></td>
					</tr><tr>
						<td></td>
						<td><mark>Highlighted Columns</mark> contain at least one phenotype or disease result matching your search term(s).</td>
					</tr><tr>
						<td></td>
						<td style="padding-left: 20px; padding-top: 5px;">
							<table>
								<tr>
									<td>
										<div style="width:20px; height:20px; background-color: #49648B; display: inline-block;">
											<div style="width:100%;height:100%; background: url('{{FEWI_URL}}assets/images/hdp/human_cell_sprite.gif') -6px 0px;"></div>
										</div>
									</td>
									<td style="padding-left: 5px;">
										<div style="display:inline-block;"> - Terms are annotated to genes in <strong style="background-color:#ffdab3; color:#000;">human</strong>/<strong style="background-color: #49648B; color:#FFF;">mouse</strong>. 
											Darker colors indicate <a href="#" ng-click="popup('/userhelp/disease_connection_help.shtml#hdp_results');">more annotations</a>.
										</div>
									</td>
								</tr>
								<tr>
									<td><strong>N</strong></td>
									<td style="padding-left: 5px;">- No abnormalities detected in phenotype class in mouse, contrary to expectations.</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr><td colspan=2>&nbsp;</td></tr>
					<tr> 
						<td style="vertical-align: top;"><span style="font-weight:bold;">NOTE:</span></td>
						<td>In searches with phenotype/disease terms, only the phenotypes/diseases of the matching models/genes are displayed. In searches using gene or location parameters only, the complete phenotype profiles of the matching gene mutations are displayed. <a ng-click="popup('/userhelp/disease_connection_help.shtml');" href="#">More...</a></td>
					</tr>
					<tr><td colspan=2>&nbsp;</td></tr>
					<tr> 
						<td style="vertical-align: top;"><span style="font-weight:bold;">SOURCE:</span></td>
						<td>Human gene-to-disease annotations are from the Alliance of Genome Resources and include data from RGD, NCBI, and OMIM. Human phenotype-to-disease annotations are from HPO. Mouse gene-to-disease and gene-to-phenotype annotations are from MGI. <a ng-click="popup('/userhelp/disease_connection_help.shtml');" href="#">More...</a></tr>
					</tr>

				</table>
			</div>
		</div>

		<div ng-show="vm.mustHideLegend" style="background-color:#F7F7F7; border:2px solid #AAA; width:860px; margin-bottom: 4px;">
			<div style="padding:5px 2px;">
				<div><span style="font-weight:bold; padding-right: 15px;">Legend:</span>Terms are annotated to genes in <strong style="background-color:#ffdab3; color:#000;">human</strong>/<strong style="background-color: #49648B; color:#FFF;">mouse</strong>. <a href="#" ng-click="vm.mustHideLegend = !vm.mustHideLegend">show more</a></div>
			</div>
		</div>

		<div ng-if="vm.results.totalrowcount > 0 && !vm.gridloading">
			<div id="gridWrapper" 
			    ngc-table
				show-column-names="false" show-row-numbers="false"
				left-column-number="2" right-column-number="1"
				center-column-number="vm.results.maxcols"
				row-number="vm.results.maxrows" data="vm.results.data">

				<ngc-range top="1" bottom="vm.results.totalrowcount + 1" left="2" right="9999" style-fn="styleCell" click-fn="handleClick" custom-html-fn="formatCell"></ngc-range>
				<ngc-range top="0" bottom="vm.results.totalrowcount + 1" left="vm.results.greyBar" right="vm.results.greyBar + 1" clazz="vm.greyBar"></ngc-range>
				<ngc-range top="0" bottom="1" left="2" right="9999" custom-html-fn="customHTMLHeader"></ngc-range>
				<ngc-range top="0" bottom="vm.results.totalrowcount + 2" left="vm.results.totalcolcount + 3" right="9999" clazz="vm.displayNone"></ngc-range>
			</div>
			<div ng-bind-html="gridResultsString"></div>
		</div>

		<div ng-if="vm.results.totalrowcount < 1">
			No data available for your query.
		</div>

		<div ng-show="vm.gridloading">
			<img src="{{FEWI_URL}}assets/images/man_wheel.gif" /><img src="{{FEWI_URL}}assets/images/mouse_wheel.gif" /><br>Please wait while the grid loads...
		</div>
	</div>
