 <script language="JavaScript">

</script>

		<div ng-controller="SearchController">
			<div class="searchView container">
				<div class="queryBuilder">

					<div class="row hideRow">
						<div class="col-xs-12">
							<span class="buttonStyle" ng-hide="vm.hideQueryForm" ng-click="vm.hideQueryForm = !vm.hideQueryForm">Click to hide search</span>
							<span class="buttonStyle" ng-show="vm.hideQueryForm" ng-click="vm.hideQueryForm = !vm.hideQueryForm">Click to modify search</span>
						</div>
					</div>

					<div class="row searchRow" ng-hide="vm.hideQueryForm">
						<div class="col-xs-12">
							<h3>Search by:</h3>
						</div>
					</div>

					<div class="row" ng-hide="vm.hideQueryForm">
						<div class="col-xs-12">
							<form ng-submit="vm.onSubmit()" novalidate id="hmdcSearchForm">
								<formly-form
									model="vm.model"
									fields="vm.fields"
									form="vm.form"
									options="vm.options">
								</formly-form>
							</form>
						</div>
					</div>

					<div ng-if="vm.model.queries.length > 1">
						<div class="row" ng-hide="vm.hideQueryForm">
							<div class="col-xs-12">
								<div class="operator-prompt">
									<div class="operator-select">
										<formly-form fields="vm.operatorField" model="vm.model"></formly-form>
									</div>
									<span class="prompt-text"> the above fields together</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row" ng-hide="vm.hideQueryForm">
						<div class="col-xs-12">

							<div class="button-row pull-left">
								<button
								    id="searchButton"
									type="submit"
									class="btn btn-primary submit-button"
									ng-disabled="vm.form.$invalid"
									ng-click="vm.onSubmit()"
									ng-bind="vm.buttonLabel">
									BUTTON LABEL
								</button>
								<span class="text-danger" ng-if="vm.form.$pristine === false && vm.form.$invalid">
									Ensure all fields are specified to submit your search.
								</span>
							</div>

							<div class="pull-right">
								<a onClick="location.reload()" class="btn btn-sm btn-primary reset-button">Reset</a>
							</div>

							<div class="text-center">
                                <a href="javascript:childWindow=window.open('http://frost.informatics.jax.org/diseasePortal/searchPopup', 'mywindow', 'status,width=800,height=400'); childWindow.focus()"
                                   class="btn btn-sm btn-primary">Add related phenotype terms by ID</a>
                     </div>

						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid searchViewBox" ng-show="displayTabs">
				<div class="row sideBySide">
					<div ng-bind-html="vm.youSearchedFor" class="ysf">
					</div>
					<div class="filters">
						<div class="btn-group pad10right pad10bottom">
							<button type="button" ng-click="vm.applyFilters()">
								Apply Filters
							</button>
						</div>

						<div class="btn-group pad10bottom"
							ng-dropdown-multiselect=""
							options="selectedFeatureTypes"
							selected-model="selectedFeatureTypesModel"
							translation-texts="selectFeatureTypesCustemText"
							extra-settings="selectFeatureTypesSettings"
							events="handleEvents"></div>

						<div class="btn-group pad10bottom"
							ng-dropdown-multiselect=""
							options="selectedGenes"
							selected-model="selectedGenesModel"
							translation-texts="selectGenesCustemText"
							extra-settings="selectGenesSettings"
							events="handleEvents"></div>

						<div class="btn-group pad10bottom"
							ng-dropdown-multiselect=""
							options="selectedPhenoTypesAndDiseases"
							selected-model="selectedPhenoTypesAndDiseasesModel"
							translation-texts="selectPhenoTypesAndDiseasesCustemText"
							extra-settings="selectPhenoTypesAndDiseasesSettings"
							group-by="type"
							events="handleEvents"></div>

						<div class="btn-group pad10left pad10bottom">
							<button type="button" ng-click="vm.removeFilters()">
								Remove Filters
							</button>
						</div>

					</div>
				</div>

				<uib-tabset>
					<uib-tab ng-repeat="tab in vm.tabs" heading="{{ tab.count != 0 ? tab.heading + ' (' + tab.count + ')' : tab.heading }}" active="tab.active">
						<div ng-include src="tab.template"></div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
