/* Styles for the GXD query summary */


#toolbar span {
	text-align: right;
}

#paginationBottom {
	float:right;
}

.visHidden {
	visibility: hidden;
}

.removeButton {
    font-weight: bold;
    padding-left: 1px;
    padding-right: 1px;
    cursor: pointer;
}

.disabledText {
	color: lightgray;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#resultSummary
{
	display:table;
}

#resultSummary li.disabled-tab {
    display: none;
}

#resultSummary li.disabled-tab a {
    color: lightgray;
}

#gxdLitInfo
{
	font-weight:bold;
}

/* Styles for profile search */

#profileModeC {
    margin-left: 20px;
}
#profileModeR {
    margin-left: 120px;
}

#profileStructureTable.disabled {
    opacity: 0.2;
    pointer-events: none;
}

#profileStructureTable td{
	border:none;
}
#profileStructureTable th{
	border:none;
}
#profileStructureTable td {
	border:none;
	text-align: center;
}
#profileStructureTable td div.bd {
    text-align: left;
}

#profileStructureTable .profile-structure-row select.hasSelections {
    border: 2px solid green;
}

#profileStructureTable tr.detected input.yui-ac-input,
#profileStructureTable tr.detected select {
	background-color: #d1e8fc;
}
#profileStructureTable tr.not-detected input.yui-ac-input,
#profileStructureTable tr.not-detected select {
	background-color: #fed7e9;
}
#profileStructureTable tr.profile-structure-row {
	border: thin solid #aaa;
	height: 56px;
}
#profileStructureTable tr.profile-structure-row.zstripe0 {
}
#profileStructureTable tr.profile-structure-row.zstripe1 {
    background-color: #f0f0f0;
}

#profileStructureTable tr.profile-structure-row.detected-not-specified td:nth-child(3) *,
#profileStructureTable tr.profile-structure-row.detected-not-specified td:nth-child(4) *,
#profileStructureTable tr.profile-structure-row.detected-not-specified td:nth-child(5) * {
    opacity: 0.4;
}

#profileStructureTable.hideStages tr.profile-structure-row td:nth-child(4) *,
#profileStructureTable.hideStages tr.profile-structure-row td:nth-child(5) *,
#profileStructureTable.hideStages span.stagesLabel {
    display: none;
}
#profileStructureTable option:disabled {
    display: none;
}

#gxdProfileQueryForm #addDetected {
	padding: 4px;
}
#gxdProfileQueryForm #addDetected:hover,
#gxdProfileQueryForm #addNotDetected:hover {
	cursor: pointer;
}
#gxdProfileQueryForm #addNotDetected span {
	color: red;
	font-weight: bold;
}
#profileStructureTable .bold {
	font-weight: bold;
}
#profileStructureTable .red {
	font-weight: bold;
}

#gxdProfileQueryForm.classical .noModeSelected,
#gxdProfileQueryForm.rnaseq .noModeSelected {
    display: none;
}

#gxdProfileQueryForm.classical .classicalOnly {
	display: default;
}
#gxdProfileQueryForm.rnaseq .classicalOnly {
	display: none;
}
#profileModeHandIcon {
    font-size: 24px;
}

#gxdProfileQueryForm.classical .rnaseqOnly {
	display: none;
}
#gxdProfileQueryForm.rnaseq .rnaseqOnly {
	display: default;
}
#gxdProfileQueryForm .disabledSection {	
	opacity: 0.5;
}
#heatmaptabcontent {
    padding: 24px;
    background-color: white;
    font-size: 14px;
    text-align: center;
}
#heatmaptabcontent tr {
}
#heatmaptabcontent #morpheusLogo {
    position: relative;
    top: 10px;
}
#heatmaptabcontent button {
    padding: 8px;
    background-color: #ecca6c;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 18px;
}
#heatmaptabcontent button:hover {
    cursor: pointer;
    color: #34ce34;
}
#heatmaptabcontent img {
    border: 0.5px solid black;
    width:400px;
    margin-right: 50px;
}
#heatmaptabcontent img:hover {
    cursor: pointer;
}
#heatmaptabcontent div.text {
    max-width: 350px;
    font-size:14px;
}

/* Styles for image summary tab */
#imagesdata table
{
border-collapse: collapse;
}
#imagesdata tr.yui-dt-odd
{
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
}
#imagesdata td.yui-dt-col-image
{
	width: 240px;
	max-width: 240px;
}
#imagesdata td.yui-dt-col-image .yui-dt-liner
{ display: inline; }

#imagesdata td li {
	list-style-type: none;
	margin-left: 0px;
	margin-bottom: 4px;
}
.copySymbol
{
	font-weight:bold;
	padding-left:4px;
}

#matrixPopupButtonWrapper
{
	width:100%;
	height: 40px;
	font-size: 90%;
	font-weight: bold;
	border-top-style: solid;
	background-color:#EEEEEE;
	border-color: #111111;
	border-width: 2px;

}
#matrixPopupResultsButton
{
	padding: 3px;
	margin-top: 8px;
	margin-left: 12px;
	background-color:#EBCA6D;
	float:left;
}
#matrixPopupImagesButton
{
	padding: 3px;
	margin-top: 8px;
	margin-right: 12px;
	background-color:#EBCA6D;
	float:right;
}
#matrixPopupPhenotypesButton
{
	padding: 3px;
	margin-top: 8px;
	margin-left: 80px;
	background-color:#C6D6E8;
	float:left;
}

#structStagePopupContents
{
	width:100%;
	background-color: #FFFFFF;
}
#structGenePopupContents
{
	width:100%;
	background-color: #FFFFFF;
}
#phenoGridPopupContents
{
	width:100%;
	background-color: #FFFFFF;
}
#recomGridPopupContents
{
	width:100%;
	background-color: #FFFFFF;
}

#stagePopupTable
{
	border-collapse: separate;
	border-spacing: 2px;
	width:100%;
	background-color: #FFFFFF;
	margin: 0 auto;
	border:1px;
}

#stagePopupTable th
{
	background-color: #EBCA6D;
	padding:10px;
	text-align: center;
	border:3px;
}
#stagePopupTable td
{
	padding:10px;
	text-align: center;
	border:1px;
}
#recomPopupTable
{
	border-collapse: separate;
	border-spacing: 2px;
	width:100%;
	background-color: #FFFFFF;
	margin: 0 auto;
	border:1px;
}

#recomPopupTable th
{
	background-color: #C6D6E8;
	padding:10px;
	text-align: center;
	border:3px;
}
#recomPopupTable td
{
	padding:10px;
	text-align: center;
	border:1px;
}
#structStagePopup_h
{
	cursor: move;
	border-width:0px;
	line-height:2.5;
	background:	#EEE;
}
#structGenePopup_h
{
	cursor: move;
	border-width:0px;
	line-height:2.5;
	background:	#EEE;
}
#phenoGridPopup_h
{
	cursor: move;
	border-width:0px;
	line-height:2.5;
	background:	#EEE;
}


.validStageWrapper {
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;
	position:relative;
	overflow:hidden;
	background:#FFF;
}
.validStageIndicator {
	color:#CCCCCC;
	font-family:"Courier New";
	padding-left: 5px;
	padding-bottom: 1px;
	font-size:160%
}
.noResultsIndicator {
	padding-left: 5px;
	padding-bottom: 1px;
	font-size:120%
}
.backgroundSensativeIndicator {
	color:red;
	padding-left: 6px;
	padding-bottom: 1px;
	font-size:120%
}

*:focus {
    outline: 0;
}

/* GXD Matrix Styles */

#stagegriddata .gridTitle {
	text-align:center;
	font-weight:bold;
	font-size:120%;	
}
.gridWrapper {
	background-color: white;
}

#sgTarget line, #ggTarget line, #phenoGridTarget line, #geneRecomGridTarget line {
    stroke: #aaa;
    stroke-width: 1px;
}
#phenoGridTarget line.col.col0 {
    stroke: black !important;
    stroke-width: 4px !important;
}
#geneRecomGridTarget line.col.col0 {
    stroke: black !important;
    stroke-width: 4px !important;
}
#phenoGridTarget .phenoBlue1 {
	fill: #C6D6E8;
}
#phenoGridTarget .phenoBlue2 {
	fill: #879EBA;
}
#phenoGridTarget .phenoBlue3 {
	fill: #49648B;
}
#phenoGridTarget .phenoBlue4 {
	fill: #002255;
}

#sgTarget .blue1, #ggTarget .blue1, #phenoGridTarget .blue1, #geneRecomGridTarget .blue1 {
	fill: rgb(215,228,255);
}
#sgTarget .blue2, #ggTarget .blue2, #phenoGridTarget .blue2, #geneRecomGridTarget .blue2 {
	fill: rgb(130,180,255);
}
#sgTarget .blue3, #ggTarget .blue3, #phenoGridTarget .blue3, #geneRecomGridTarget .blue3 {
	fill: rgb(75,120,255);
}
#sgTarget .blue4, #ggTarget .blue4, #phenoGridTarget .blue4, #geneRecomGridTarget .blue4 {
	fill: rgb(0,64,192);
}
#sgTarget .blue5, #ggTarget .blue5, #phenoGridTarget .blue5, #geneRecomGridTarget .blue5 {
	fill: rgb(0, 0, 175);
}

#sgTarget .red1, #ggTarget .red1, #phenoGridTarget .red1, #geneRecomGridTarget .red1 {
	fill: rgb(255,215,215);
}
#sgTarget .red2, #ggTarget .red2, #phenoGridTarget .red2, #geneRecomGridTarget .red2 {
	fill: rgb(255,103,103);
}
#sgTarget .red3, #ggTarget .red3, #phenoGridTarget .red3, #geneRecomGridTarget .red3 {
	fill: rgb(255,0,0);
}
#sgTarget .red4, #ggTarget .red4, #phenoGridTarget .red4, #geneRecomGridTarget .red4 {
	fill: rgb(200,0,0);
}
#sgTarget .red5, #ggTarget .red5, #phenoGridTarget .red5, #geneRecomGridTarget .red5 {
	fill: rgb(160,0,0);
}




#sgTarget .gray {
	/* fill: rgb(191,191,191); */
	fill: url(#sash28);
}
#ggTarget .gray, #phenoGridTarget .gray, #geneRecomGridTarget .gray {
	/* fill: rgb(191,191,191); */
	fill: url(#sash24);
}
#sgTarget .gold, #ggTarget .gold, #phenoGridTarget .gold, #geneRecomGridTarget .gold {
	fill: rgb(255,219,103);
	/*fill: rgb(243,223,157);*/
}

#sgTarget .matrixButtonText, #ggTarget .matrixButtonText, #phenoGridTarget .matrixButtonText, #geneRecomGridTarget .matrixButtonText {
	font-weight: bold;
}

#sgTarget .matrixFilterButton, #ggTarget .matrixFilterButton, #phenoGridTarget .matrixFilterButton, #geneRecomGridTarget .matrixFilterButton {
		padding-bottom: 20px;
		margin-bottom: 20px;
}

#sgTarget .fh, #ggTarget .fh{
	fill: rgb(230,230,230);
	/*
    fill:white;
    stroke:#aaa;
    stroke-width: 2px; */
}
.matrixContainer {
	height:100%;
	width:100%;
	overflow: scroll;
	border: solid 1px black;
}
.matrixContainer svg {
	border: solid 1px black;
	border-top: none;
	border-left: none;
	background-color: white;
}

/* Matrix Legend */
.legendWrapper {
	width:240px;
	overflow: auto;
}
.legendSection{
	width: 100%;
	margin-bottom:20px;
	font-size:11px;
}
.legendSelectionRow{
	height:21px;
}
.legendExampleCell {
	height:20px;
	width:20px;
	float:left;
	box-sizing: border-box;
}
.legendExampleRange {
	margin-left:5px;
	vertical-align:text-top;
}
#legendPopupPanel .hd {
	color: black;
	background-color: #aaa;
}
.hiddenNegIndicatorWrapper {
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;
	position:relative;
	overflow:hidden;
	background:#6699FF;
}
.hiddenNegIndicator {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 20px 0;
	border-color: transparent #FF6767 transparent transparent;
	position: absolute;
	top: -6px;
	left: 0;
}
.inSubStructIndicatorWrapper {
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;
	position:relative;
	overflow:hidden;
	background:#FFF;
}
.inSubStructIndicator {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 20px 0;
	border-color: transparent #FFDB67 transparent transparent;
	position: absolute;
	top: -6px;
	left: 0;
}

.legendExampleCell.blue1 {
	background-color: rgb(215,228,255);
	margin-left: 90px;
}
.legendExampleCell.blue2 {
	background-color: rgb(130,180,255);
	margin-left: 70px;
}
.legendExampleCell.blue3 {
	background-color: rgb(75,120,255);
	margin-left: 50px;
}
.legendExampleCell.blue4 {
	background-color: rgb(0,64,192);
	margin-left: 30px;
}
.legendExampleCell.blue5 {
	background-color: rgb(0, 0, 175);
	margin-left: 10px;
}

.legendExampleCell.red1 {
	background-color: rgb(255,215,215);
	margin-left: 90px;
}
.legendExampleCell.red2 {
	background-color: rgb(255,103,103);
	margin-left: 70px;
}
.legendExampleCell.red3 {
	background-color: rgb(255,0,0);
	margin-left: 50px;
}
.legendExampleCell.red4 {
	background-color: rgb(200,0,0);
	margin-left: 30px;
}
.legendExampleCell.red5 {
	background-color: rgb(160,0,0);
	margin-left: 10px;
}

.legendExampleCell.phenoBlue4 {
	background-color: #002255;
	margin-left: 10px;
}
.legendExampleCell.phenoBlue3 {
	background-color: #49648B;
	margin-left: 30px;
}
.legendExampleCell.phenoBlue2 {
	background-color: #879EBA;
	margin-left: 50px;
}
.legendExampleCell.phenoBlue1 {
	background-color: #C6D6E8;
	margin-left: 70px;
}


/* adjust some cell positions in legend */
.legendExampleCell.posNegCell,
.legendExampleCell.subStructCell {
	margin-top: 3px;
}

.legendSection h4 {
	margin-bottom: 10px; 
	text-align:center; 
	font-weight:bold;
}

.legendFilterSection {
	text-align:center;
}
.legendBottom {
	text-align: center;
	font-style: italic;
	margin-bottom: 0px;
}

/* hide gene legend text from tissue matrix legend */
#structLegendPopupPanel .geneOnly {
	display: none;
}
/* hide theiler stage legend text from gene matrix legend */
#geneLegendPopupPanel .theilerStageOnly {
	display: none;
}

/* Filters */

/* hidden by default */
#filterSummary,
#filterSummary #defaultText,
#filterSummary #fCount {
	display: none;
}
