/* colored checkbox classes, based on :
 *	https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
 *
 * Notes:  Expects HTML checkbox input fields to have an associated span and be
 *	wrapped together in a label tag, like this:
 *		<label class="cmpContainer">One
 *			<input type="checkbox" id="c1">
 *			<span class="cmpCheckmark"></span>
 *		</label> 
 */

/* The container */
.cmpContainer {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-left: 18px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    white-space: nowrap;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cmpContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.cmpCheckmark {
    position: absolute;
    top: -2px;
    left: 2px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.cmpContainer:hover input ~ .cmpCheckmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cmpContainer input:checked ~ .cmpCheckmark {
    background-color: #D0E0F0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cmpCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the cmpCheckmark when checked */
.cmpContainer input:checked ~ .cmpCheckmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cmpContainer .cmpCheckmark:after {
    left: 4px;
    top: 0px;
    width: 4px;
    height: 9px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* The container for reference strain checkboxes */
.refContainer {
    display: block;
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.refContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.refCheckmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.refContainer:hover input ~ .refCheckmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.refContainer input:checked ~ .refCheckmark {
    background-color: #FF8C00;
}

/* Create the checkmark/indicator (hidden when not checked) */
.refCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the refCheckmark when checked */
.refContainer input:checked ~ .refCheckmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.refContainer .refCheckmark:after {
    left: 4px;
    top: 0px;
    width: 4px;
    height: 9px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.refToggle {}
.refHide { display: none; }

.refHeader { width:18px; text-align:center; margin-bottom: 5px; color: #FF8C00; float:left; font-weight:bold; }
.cmpHeader { width:18px; text-align:center; margin-bottom: 5px; color: blue; float:left; font-weight:bold; }

.refColor { color: #FF8C00; font-weight: bold; }
.cmpColor { color: blue; font-weight: bold; }

#rcLegendTitle { font-weight: bold; }
#rcLegend { margin-bottom: 10px; }
#rcLegend td { padding: 3px; text-align: left; border: none; }
.rightColumn { width: 400px; max-width: 400px; min-width: 400px; text-align: center; }
#legendWrapper { text-align: center; }
#sameDiffWrapper { margin-left: 6px; }
#sameDiffRadioButtons { margin-left: 30px; margin-bottom: 10px; }