	.bioMismatch td { text-align: center; border-style: solid; border-width: 1px; }
	.bioMismatch .header { font-weight: bold; color:#002255; background-color:#aaaaaa; }

	.link {
		color:#000099;
		cursor: pointer;
		text-decoration: none;
	}

	.bold { font-weight: bold; }

	.leftAlign { text-align: left; }

	.allBorders {
		border-top: thin solid gray;
		border-bottom: thin solid gray;
		border-left: thin solid gray;
		border-right: thin solid gray;
		padding:3px;
	}

	.bottomBorder {
		border-bottom-color: #000000;
		border-bottom-style:solid;
		border-bottom-width:1px;
	}

	.topBorder {
		border-top-color: #000000;
		border-top-style:solid;
		border-top-width:1px;
	}

	.leftBorder {
		border-left-color :#000000; 
		border-left-style:solid;
		border-left-width:1px;
	}

	.rightBorder {
		border-right-color :#000000; 
		border-right-style:solid;
		border-right-width:1px;
	}

	.bottomBorderDark {
		border-bottom-color: #000000;
		border-bottom-style:solid;
		border-bottom-width:2px;
	}

	.stripe1 { background-color: #FFFFFF; }
	.stripe2 { background-color: #DDDDDD; }
	.headerStripe { background-color: #D0E0F0; }	
	
	/* Turning divs into table layout */
	.container {
		border-bottom: 1px solid black;
	}
	.container .row {
		overflow: hidden;
	}
	.container .row > div {
		padding-bottom: 10003px;
		margin-bottom: -10000px;
	}

	.container .header {
		float: left;
		width: 130px;
		border: 1px solid black;
		text-align: right;
		font-weight: bold;
		font-size: 12px;
		font-family: Verdana,Arial,Helvetica;
		color: #000001;
	}
	.container .detail {
		margin-left: 138px;
		border: 1px solid black;
		border-left: none;
		font-size: 12px;
		font-family: Verdana,Arial,Helvetica;
		color: #000001;
		padding: 3px;
	}

	.container .detailCat1 {
		background-color: #DFEFFF;
	}
	.container .detailCat2 {
		background-color: #D0E0F0;
	}

	.container .detailData2 {
		background-color: #F0F0F0;
	}

	.td_disease_tbl_hdr {
		text-align:center;
		vertical-align:bottom;
		padding: 0px 10px 4px 10px;
		border-left:thin solid grey;border-right:thin solid grey;border-top:thin solid grey;border-bottom:thin solid grey;
	}
	.td_disease_tbl {
		text-align:left;
		vertical-align:center;
		padding: 0px 10px 4px 10px;
		border-left:thin solid grey;border-right:thin solid grey;border-top:thin solid grey;border-bottom:thin solid grey;
	}
	.td_disease_tbl_center {
		text-align:center;
		vertical-align:center;
		padding: 0px 10px 4px 10px;
		height: 12px;
		border-left:thin solid grey;border-right:thin solid grey;border-top:thin solid grey;border-bottom:thin solid grey;
	}
	.superscript {
		vertical-align: super;
		font-size: 90%;
	}

	.toggleImage {
		float: right;
		padding: 8px;
		margin: 5px 8px;
		cursor: pointer;
	}

	.hdExpand {
		background: url("/webshare/images/rightArrow.gif") no-repeat;
	}

	.hdCollapse {
		background: url("/webshare/images/downArrow.gif") no-repeat;
	}

	td.padded { padding:4px; }
	td.top { vertical-align: top; }
	a:link{text-decoration: none}
	a:hover{color:#c00; background-color: #c7e3fe; text-decoration: none}
	div.centered { text-align: center; }
	td.rightPadded { padding-right: 4px; }

.sgHeaderDiv {
color: black;
font-weight: 10;
font-size: 90%;
text-indent: 2px;
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
width: 20px;
}
.sgHeader {
height: 100px;
padding-bottom: 0;
text-align: left;
vertical-align: bottom;
white-space: nowrap;
font-weight: normal;
}
.box { border: 1px solid gray; height: 16px; background-color: white; }
.blue {
    background-color: #0000FF;
    width: 20px;
    height: 16px;
}
.dogear { 
    border-color: transparent #cccccc transparent transparent;
    border-style: solid;
    border-width: 0 20px 16px 0;
    height: 0;
    left: 0;
    width: 0;
}
.cup {
height: 8px;
border-left: 1px solid gray;
border-right: 1px solid gray;
border-bottom: 1px solid gray;
}
.sgWidth { width: 20px; }

	
	/* Styles for testing design concepts */
	#body {
		font-size: 16px;
		box-sizing: border-box;
	}
	#body .container * {
		font-size: 1em;
	}

	#body .container .row:not(:nth-of-type(1)) .detail
	{
		border-top-color: #aaa;
	}


	#body .container .row:not(:nth-of-type(1)) .header {
		border-top-color: #aaa;

	}

	#body .container .header {
		border-right-color: #aaa;
	}

	#body .container ul,
	#body .container li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	#body .label {
		width: 9.219em;
		text-align: right;
		font-size: 1em;
		white-space: nowrap;
		margin-right: .406em;
		float: left;
		margin-top: 1px;
	}

	#gxdLogoImage {
		width: 90%;
		padding-right: 2px;
		padding-top: 4px;
		padding-bottom: 4px;
	}
	
	#body .value {
		margin-left: 9.813em;
	}

	#body .value.emphasis {
		font-weight: bold;
	}

	#body section {
		display: inline-block;
		vertical-align: top;
		width: 99%;
	}

	#body .summarySec1 {
		min-width: 555px;
	}

	#body  .container li {
		margin-bottom: .615em;
	}

	#body .summarySec1.wide {
		width: 99%;
	}

	/* pheno ribbon */

	#body .phenoRibbon .summarySec2 {
		width: 49%;
		min-width: 28.813em;
	}

	#body .phenoRibbon #openedAlleleRibbon .summarySec1 {
		padding-left: 2em;
	}
	#body .goRibbon .goGrids .summarySec1 {
		padding-left: 2em;
	}
	#body .gxdRibbon #gxd .summarySec1 #anatomySlimgridWrapper {
		padding-left: 2em;
	}


	#body .summarySec2 .unbold {
		font-weight:normal;
		color: #585858;
	}

	#body .locationRibbon .summarySec1 .second {
		margin-left: 4em;
	}

	#body .locationRibbon .summarySec2 .second {
		margin-left: 7em;
	}

	#body .diseaseRibbon .summarySec1 .second {
		margin-left: 5.406em;
	}

	#body .homologyExtra hr {
		width: 90%;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	#body .goRibbon .goGrids .sgWrapper:nth-of-type(3) {
		margin-bottom: 0em;
		padding-bottom: 0em;
	}

	#body .gxdRibbon .summarySec2 {
		width: 47%;
		min-width: 28.813em;
	}

	#body .gxdRibbon .summarySec2 .value {
		margin-left: 16.625em;
		margin-bottom: .406em;
	}

	#body .gxdRibbon .summarySec2 li {
		margin-bottom: 1.219em;
	}

	#body .gxdRibbon .item:not(:last-of-type) {
		float: left;
		vertical-align: top;
		margin-right: 10px;
	}

	#body .gxdRibbon section:last-of-type {
		margin-top: .625em;
		margin-bottom: 1em;
	}

	#body .otherLinksRibbon .label {
		width: 13em;
	}

	#body .otherLinksRibbon .value {
		margin-left: 13.406em;
	}

	#body .proteinRibbon #openedProteinRibbon td{
		padding-right: 1em;
		padding-top: .219em;
		padding-bottom: 0em;
	}

	#body .proteinRibbon  #openedProteinRibbon tr{
		/*border-bottom: 1px solid #ccc;*/
	}

	#body .container {
		font-size: .813em;
	}

	#body .titleBarMainTitle {
		font-size: 1.625em;
		padding-left: 2%;
	}

	#body .titleBar_sub {
		
    	padding-left: .813em;
    	font-size: 1em;
	}

	#body .searchToolButton {
	}

	#body .searchToolButton:hover {
		cursor: pointer;
	}


	#body .header {
		font-size: 1em;
		width: 9em;
		padding-top: .625em;
		padding-right: .625em;
		font-weight: bold;
	}

	#body .row .header header {
		padding-bottom: 1em;
	}

	#body .detail {
		margin-left: 9.406em;
		padding-left: .406em;
		padding-right: .406em;
		padding-top: 0.625em;
	}

	#body .row {
		min-height: 45px;
	}

	#body #mpSlimgridWrapper .label {
		padding-top: 1.625em;
		padding-bottom: 2em;
	}

	#body #mpMarkerClip {
		padding-top: .8215em;
		padding-bottom: 1em;
		margin-left: 2em;
	}

	#body #goSlimgridWrapper .sgWrapperHeight {
		height: 16em;
	}
	#body #goSlimgridWrapper .label {
		padding-bottom: 5em;
	}

	#body #anatomySlimgridWrapper .label {
		padding-bottom: 2.813em;
	}

	#body .rightBorderThinGray {
		border: none;
	}

	#body td.padded {
		padding: 4px;
	}

	#body .hdExpand {
		background: url("/webshare/images/rightArrow.gif") no-repeat 42px 3px;
	}

	#body .hdCollapse {
		background: url("/webshare/images/downArrow.gif") no-repeat 42px 3px; 
	}

	#body .toggleImage {
		margin: 0px 0px 0px 10px;
		padding: 0px 0px 1px 5px;
		border-color: rgb(187, 220, 239);
		color: #54709B;
		width: 50px;
		border: 1px;
		border-style: solid;
		vertical-align: top;
		position: absolute;
	}

	#body table.2col1 {
		width: 448px;
	}

	#body table .adjustRight {
		padding-left: 1em;
	}
	#body table .synonyms {
		padding-right: 2.625em;
	}

	#body table .col2 {
		width: 8em;
	}

	#body table .col2_2 {
		width: 28em;
	}

	#body table .col2_3 {
		width: 12em;
	}


	#body h3 {
		font-weight: bold;
	}

	#body .container #mpSlimgridWrapper {
		padding-top: 1.406em;
		margin-bottom: 1em;
		margin-left: 2em;
	}

	#body .container #mpSlimgridWrapper h3 {
		padding-bottom: 2em;
	}

	#body .container #goSlimgridWrapper .sgWrapper {
		padding-top: 2em;
		margin-bottom: 0em;
	}

	#body .container #goSlimgridWrapper .sgWrapper h3 {
		padding-bottom: 4em;
	}

	#body .container #anatomySlimgridWrapper h3{
		padding-bottom: 2.625em;
	}

	#body #sequenceForm td {
		padding-left: 1.625em;
	}

	#body #sequenceForm tr  {
		border-bottom: 1px solid #ccc;
	}

	#body .sgWrapperTitle {
		font-weight: bold;
	}

	#body .closed {
		display: none;
	}
	
	.mappingTable th {
		padding: 4px;
		font-weight: bold;
		border: 1px solid gray;
	}

	.mappingTable {
		margin-left: 20px;
	}
	
	.spacer {
		margin-bottom: 10px;
	}
	
	.fixedWidthFont {
		font-family: Courier, monospace;
	}
	
	.scrollY {
		overflow-y: scroll;
	}
	
	#mappingTableWrapper {
		max-height:525px;
	}
	
	.mappingTableHeader {
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	
	.mappingTable td {
		padding: 4px;
		vertical-align: top;
		text-align: left;
		border: 1px solid gray;
		margin-left: 10px;
	}
	
	.reference {
		padding-bottom: 4px;
		margin-left: 4px;
	}
	
	.internalLabel {
		font-weight: bold;
		font-size: 1em;
		font-family: Arial,Helvetica;
	}
	
	.sequence {
		margin-left: 4px;
		padding-bottom: 4px;
	}

    sup { vertical-align: top; position: relative; top: -0.3em; font-size:60%;}
