* html #titleBarWrapper{width:840px;}
#titleBarWrapper img.titleBarHelpIcon{border:none;float:left;}
#titleBarWrapper .yourInputButton{float:right;height:33px;}
.titleBarMainTitle{font-size:22px;font-weight:bold;}
.titleBarSubTitle{font-size:14px;text-align:center;}

.buttonLabel{font-size:12px;text-align:center;color:#000001;font-weight:bold;}

.example{font-size:10px;font-weight:normal;font-style:italic;}
.small{font-size:10px;font-weight:normal;}
.grayBackground{background-color:#eee;}

.qfLabel{font-size:12px;color:#000001;font-weight:bold;}

tr.stripe1{background-color:#fff;}
tr.stripe2{background-color:#F0F0F0;}
tr.stripe3{background-color:#D0E0F0;}
tr.stripe4{background-color:#DFEFFF;}

td {}

td.cat1{font-size:12px;vertical-align:top;text-align:right;color:#000001;background-color:#DFEFFF;font-weight:bold;width:120px;padding:8px;}
td.cat2{font-size:12px;vertical-align:top;text-align:right;color:#000001;background-color:#D0E0F0;font-weight:bold;width:120px;padding:8px;}
td.data1{font-size:12px;vertical-align:top;text-align:left;color:#000001;background-color:#fff;}
td.data2{font-size:12px;vertical-align:top;text-align:left;color:#000001;background-color:#eee;}
td.data1centerMiddle{font-size:12px;vertical-align:middle;text-align:center;color:#000001;background-color:#fff;}
td.data2centerMiddle{font-size:12px;vertical-align:middle;text-align:center;color:#000001;background-color:#eee;}
td.data1leftMiddle{font-size:12px;vertical-align:middle;text-align:left;color:#000001;background-color:#fff;}
td.data2leftMiddle{font-size:12px;vertical-align:middle;text-align:left;color:#000001;background-color:#eee;}
td.data1rightMiddle{font-size:12px;vertical-align:middle;text-align:right;color:#000001;background-color:#fff;}
td.data2rightMiddle{font-size:12px;vertical-align:middle;text-align:right;color:#000001;background-color:#eee;}
